<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Payment Success</title>
    </head>
    <body>
        <h1>Payment Successful!</h1>
        <p>Thank you for your purchase. Your transaction has been completed, and a receipt for your purchase has been emailed to you.</p>
        <a href="/">Go to Home Page</a>
    </body>
</html>
