* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #333;
}

.nav {
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #272623;
}

#left, #center, #right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    justify-content: flex-start;
}

#right {
    justify-content: flex-end;
}

#logo {
    width: 160px;
}

.nav img {
    width: 27.5px;
}

#left a, #right a {
    margin-right: 35px;
    color: #CCCCCC;
    text-decoration: none;
    font-family: 'Baloo Tammudu', sans-serif;
}


.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
    color: #CCCCCC;
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
    text-align: center;
    font-size: 38px;
	height: 80%;
	width: 80%;
	margin: 0;
	padding: 0;
    border-radius: 12px 0px 0px 12px;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-delay: .23s;
    cursor: pointer;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-delay: -1s;
	background-color: #333333;
}

.search {
	position: absolute;
	left: 65px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: #333333;
    caret-color: #CCCCCC;
    color: #CCCCCC;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 80%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    border-radius: 0px 12px 12px 0px;
}

.search:focus {
	width: 250px;
	padding: 0 16px 0 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 90px;
    background-color: #2c2c2b;
}

.sidebar a {
    text-align: center;
    display: block;
    margin: 25px 0px;
    padding: 10px;
    text-decoration: none;
    color: #CCCCCC;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: medium;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #757268;
}

.gallery {
    width: 100%;
}

.gallery h2 {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 2.2em;
    font-family: 'Baloo Tammudu', sans-serif;
    margin-bottom: 10px;
}

.shopall {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.shopall img { 
    /* will be more like a banner */
    border-radius: 10px;
}

.gallery .categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section {
    cursor: pointer;
    width: 30%;
    margin-bottom: 50px;
}

.section a {
    text-decoration: none;
}

.section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.section p {
    text-decoration: none;
    text-align: center;
    color: #CCCCCC;
    margin-top: 5px;
}
