* {
    margin: 0px;
    padding: 0px;
    font-family: 'Patrick Hand', serif;
}

body{
    background-color: #333;
}

.nav {
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #272623;
    height: calc(10px + 6vh);
}

#left, #center, #right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    justify-content: flex-start;
}

#right {
    justify-content: flex-end;
}

#logo {
    width: calc(45px + 6vw);
}

.nav img {
    width: calc(10px + 1vw);
}

#left a, #right a, #right div {
    margin-right: calc(15px + 1.2vw);
    color: #CCCCCC;
}


.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
    height: calc(30px + 1.5vw);
    width: calc(30px + 1.5vw);
	vertical-align: bottom;
}

.mglass {
    color: #CCCCCC;
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.search.active-transition, .searchbutton.active-transition {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.searchbutton.inactive-transition {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-delay: .2s;
}  

.no-transition {
    transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    -o-transition-property: none !important;
}

.searchbutton {
	position: absolute;
    text-align: center;
    font-size: calc(20px + 1vw);
	height: 85%;
	width: 85%;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-delay: -1s;
	background-color: #333333;
}

.search {
    transform: translate3d(0,0,0);  /* force hardware acceleration to remove artifacts */
	position: absolute;
    left: 85%;
	background-color: #333333;
    caret-color: #CCCCCC;
    color: #CCCCCC;
    font-size: calc(3px + 0.6vw);
	outline: none;
	border: none;
	padding: 0;
	width: 0px;
	height: 85%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    border-radius: 12px 0px 0px 12px;
}

.search:focus {
	width: calc(100px + 6vw);
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: calc(10px + 1vw);
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.container {
    display: flex;
    height: 150%;
}

.sidebar {
    width: calc(20px + 3vw);
    background-color: #2c2c2b;
}

.sidebar div {
    margin-top: 50px;
}

.sidebar a, .dropdown-content a {
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 30px 0px;
    padding: 10px;
    text-decoration: none;
    color: #CCCCCC;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: calc(3px + 0.6vw);
    transition: background-color 0.3s;
}

.dropdown-content a{
    margin: 0px;
}

.sidebar a:hover, .dropdown-content a:hover {
    background-color: #757268;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    z-index: 10;
    align-items: center;
    text-align: center;
    display: none;
    position: absolute;
    left: calc(20px + 3vw);;
    top: -50px;
    width: calc(25px + 3vw);
    border-radius: 0px 5px 5px 0px;
    background-color: #2c2c2b;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
}

.gallery {
    flex: 1;
    width: 100%;
}

.shopall {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.shopall .description {
    background-color: transparent;
    color: #CCCCCC;
    width: 50vw;
    height: 20vh;
    position: absolute;
    top: calc(20px + 2vh);
    left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.shopall .description h2 {
    align-self: flex-start;
    font-size: calc(16px + 1.2vw);
}

.shopall .description p {
    margin-top: 15px;
    align-self: center;
    font-size: calc(12px + 0.4vw);
}

.shopall a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: calc(10px + 1.5vw);
    background-color: #272623;
    width: calc(8% + 3vw);
    height: calc(3% + 2vw);
    padding: calc(10px + 1vw);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px calc(5% + 5vw) calc(1% + 5vh) 0px;
}


.gallery .categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section {
    cursor: pointer;
    width: 30%;
    margin-bottom: 50px;
}

.section a {
    text-decoration: none;
}

.section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.section p {
    text-decoration: none;
    text-align: center;
    color: #CCCCCC;
    margin-top: 5px;
}

ul {
    margin-left: calc(10px + 2vw);
    color: #CCCCCC;
}

@media (max-width: 768px) {
    .nav img {
        width: 20px;
    }

    .shopall .description {
        width: 70vw;
    }

    #left a, #right a, #right div {
        margin-right: 5vw;  /* Increase margin on smaller screens */
    }
}

@media (max-width: 480px) {
    .section {
        width: 100%;
        flex-basis: 100%;
    }
}
